body {
background-color: aqua;
 
}
 
h1 {
  text-align: center;
  color:#e75480 ;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcbody {
  border: solid 1px black;
  height: 350px;
  width: 200px;
}